@import "./_vars.scss";

body {    
    background-color: $white_1;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    padding-bottom: 5vh;
}

.container {
    box-shadow: $shadow;
    background-color: $darkblue;

    .navigation {
        padding: 20px 50px 20px 50px;
        background-color: $darkblue;
        
        .nav-item .mylink {
            color: $white;

            .navbar-toggler {
                color: $white;
            }
        }
    }
}

.header {
    h1 {
    color: $color_1;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
    }
    hr {
        border-bottom: 1px solid $white_1;
        margin: 0;
    }
}

.left {
    color: $gary_dard;
    
    .logo-card {
        width: 100%;
        padding-bottom: 5vh;
        text-align: center;
        border-bottom: 2px solid $darkblue;
        .logo {
            width: 100%;
        }
    }

    .skills{
        width: 100%;
        color: $white_1;
        background-color: $darkblue;
        padding: 20px 0 20px 0;
        font-size: 1.5rem;
        h2 {
            color: $darkblue;
            font-weight: 700;
            padding-bottom: 10px;
            margin-bottom: 3vh;
            text-transform: uppercase;
            border-bottom: $darkblue 2px solid;
            font-family: 'Roboto', sans-serif;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.right {
     
    .infos {
        width: 100%;
        font-family: 'Roboto', sans-serif;
        background-color: $yellow;
        padding: 50px 50px 50px 50px;
        font-size: 1.5rem;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%); /*  Chrome,Safari4+ */
        h2 {
           text-align: center;
           
            span {
                font-weight: 700;
                padding: 20px 0;
            } 
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
        }

        .coordonnees {
            color: $darkblue;
            font-weight: 600;
            text-align: left;
            font-size: 0.7em;
            padding-top: 20px;
            
             .icon {
                text-align: center;
                align-items: center;
                justify-content: center;
            }    
        }
    }

    .about {
        width: 100%;
        color: $white_1;
        background-color: $darkblue;
        padding: 20px 50px 20px 50px;
        font-size: 1.5rem;
        h2 {
            color: $yellow;
            font-weight: 700;
            padding-bottom: 10px;
            margin-bottom: 3vh;
            text-transform: uppercase;
            border-bottom: $yellow 2px solid;
            font-family: 'Roboto', sans-serif;
        }
        p {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .works, .training, .skills {
        @extend .about;
    }

    .training {
        .training-card {
            .fa-calendar-alt {
                color: $yellow;
                font-size: 1.5rem;
                padding-right: 10px;
            }
            p:first-child {
                font-weight: 700;
                font-size: 1.2rem;
                font-style: italic;
            }
        }
    }
}